helper==2.5.0
joblib==1.4.2
langchain==0.2.0
langchain_community==0.2.0
langchain_groq==0.1.4
llama_parse==0.4.3
python-dotenv==1.0.1
streamlit==1.34.0
unstructured
markdown
fastembed
chromadb
pysqlite3-binary
